<!-- Show login screen if the user is not logged in -->
<ng-container *ngIf="!isLogin$; else logged">
    <div class="home-zcalendar">
        <div class= "container">
            <div class="row">
                <div class = "col-sm-12 col-md-6  col-lg-8 home-container-section align-self-center">
                    <div class="title">Z-Calendar.com</div>
                    <div class="text">Bienvenido a Z-Calendar, inicia sesión para acceder a tus series y películas favoritas</div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 home-container-section align-self-center">
                    <span *ngIf="!urlLogin">
                        <a [routerLink]="['/login']" class="btn btn-link btn-home" color="primary"(click)="loginClick()">Login</a>
                        <a [routerLink]="['/register']" class="btn btn-link btn-home">Register</a>
                    </span>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- Show Z-Calendar screen if the user is logged in -->
<ng-template #logged >
        <!-- Header SlideNav -->
        <app-main-nav>
            <!-- Content -->
            <router-outlet></router-outlet>
            <!-- Footer -->
            <footer id="footer">
                <p class="autor">Germán Zurita Mangano</p>
                <div fxLayout="row" fxLayoutAlign="center">
                  <a class="fa fa-facebook-official socialLink" style="font-size:24px"></a>
                  <a class="fa fa-twitter socialLink" style="font-size:24px"></a>
                  <a class="fa fa-linkedin-square socialLink" style="font-size:24px"></a>
                </div>
                <p class="fa fa-copyright copyright"> Z-Calendar. Todos los derechos reservados.</p>
            </footer>
        </app-main-nav>
</ng-template>










