<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [ngClass]= "{hidden: (isHandset$ | async) == false}"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) == true">
    <mat-toolbar>Z-Calendar</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/calendar']">Inicio</a>
      <a mat-list-item [routerLink]="['/series']">Series</a>
      <a mat-list-item [routerLink]="['/films']">Películas</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" class="matMenuIcon">menu</mat-icon>
      </button>

      <div class="container main-menu">
        <!-- Show menú if the device is not a tablet, mobile... -->
        <a [routerLink]="['/calendar']" *ngIf="!(isHandset$ | async)" routerLinkActive="router-link-active">Z-Calendar Inicio</a>
        <a [routerLink]="['/series']" *ngIf="!(isHandset$ | async)" routerLinkActive="router-link-active">Series</a>
        <a [routerLink]="['/films']" *ngIf="!(isHandset$ | async)" routerLinkActive="router-link-active">Películas</a>

        <div ngbDropdown class="d-inline-block dropdown-account">
            <div class="btn-user" ngbDropdownToggle>
              <mat-icon class="icon-user">account_circle</mat-icon>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic" class="menu" >
              <button ngbDropdownItem class="dropItem" (click)="account_click()">Cuenta</button>
              <button ngbDropdownItem (click)="logout_click()" class="dropItem">Cerrar sesión</button>
            </div>
        </div>
      </div>
    </mat-toolbar>
    <ng-content #contenedor></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
